<!DOCTYPE html>
<html>

<head>
<style>
body {
background-image: url("https://images5.alphacoders.com/515/thumb-1920-515678.jpg");
margin-left: 100px;
background-size: cover;
}
</style>
</head>

<body>
<h2> This is CSS Demo 9 feb</h2>
<p> Hello world, our first demo of CSS-Background-color</P>
</body>

</html>